@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	transition:
		background-color 0.3s,
		color 0.3s;
		font-family: 'roboto condensed', sans-serif;
}

#omid {
	font-family: 'roboto condensed', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}
