@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: rgb(79, 204, 253);
	color: #0c1843;
	transition:
		background-color 0.3s,
		color 0.3s;
}

body.dark-mode {
	background-color: #0c1843;
	color: white;
}

#omid {
	font-family: 'Edu AU VIC WA NT Dots', cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
