@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #0c1843;
	color: white;
	margin: 1.5rem;
	transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
	background-color: #0c1843;
	color: white;
}

/* @layer base
  body {
	@apply bg-white text-[#0c1843] dark:bg-[#0c1843] dark:text-white m-6;
} */
